:root{  /*dados a serem reutilzados: Paleta de cores*/
        /*nsplash__Color_Hunt-bancos de Imagens-Criar Paleta de Cores*/
        /*https://gradients.app/__extrair cores de uma imagem*/

    --cor--1--branco: #fcf9f9;
    --cor--2--preto: #000103;
    --cor--3--amtesc: #041e3d;
    --cor--4--aesc: #2c4b63;
    --cor--5--amd:  #135462;
    --cor--6--azul: #226e7f;
    --cor--7--anuvem1: #558092;
    --cor--8--anuvem2: #4d849c;
    --cor--9--acl: #0c8c8c; 
    --cor--10--amtcl: #6acacf;
    

}
.top-bar 
        {
    background-color: var(--cor--3--amtesc); /* Cor da barra (Exemplo: um tom de laranja/vermelho) */
    color: var(--cor--10--amtcl); /* Cor do texto dentro da barra */
    padding: 100px; /* Espaçamento interno superior/inferior e zero nas laterais */
    text-align: 100; /* Alinha o texto ao centro */
    width: 100%; /* Garante que a barra ocupe 100% da largura */
    box-shadow: 0 2px 5px var(--cor--1--branco);(0,0,0,0.2); /* Sombra sutil para dar profundidade */

    .item-direita 
        {
    position: absolute;
    top: 0;
    right: 0;
    }
    .menu-container {
    position: 0; /*relative*/
    }

.icon { /*o icone hamburguer*/
    cursor: pointer; /*mão*/
    color: #6acacf;
    width: 100%;
    height: 100%;
    display: 0;/*flex*/
    flex-direction: column; /*disposição dos itens q compoem o icone*/
    justify-content: space-around;/*between*/
    border-radius: 0%;

}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 30px;
  left: 0;
  background-color: #f0f0f0;
  display: none;
}

.menu li {
  padding: 10px;
}

.menu-container.active .menu {
  display: block;
}

.menu-container.active .icon span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.menu-container.active .icon span:nth-child(2) {
  opacity: 0;
}

.menu-container.active .icon span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
        }


body {
    margin: 0; /* Remove a margem padrão do body para a barra ocupar a largura total */
    font-family: Arial, sans-serif;
}


div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;

}


a {
color: var(--cor--10--amtcl);
color: var(--cor--10--amtcl);

}

li {
    display: flex;
    align-items: center;
    gap: 100px;
    justify-content: center;
    front-size: 30px;
    text-decoration: none;
    

}

.img-banner{
    width: 100%;
    height: 500px;
}