:root{  /*dados a serem reutilzados: Paleta de cores*/
        /*nsplash__Color_Hunt-bancos de Imagens-Criar Paleta de Cores*/
        /*https://gradients.app/__extrair cores de uma imagem*/

    --cor--1--branco: #fcf9f9;
    --cor--2--preto: #000103;
    --cor--3--amtesc: #041e3d;
    --cor--4--aesc: #2c4b63;
    --cor--5--amd:  #135462;
    --cor--6--azul: #226e7f;
    --cor--7--anuvem1: #558092;
    --cor--8--anuvem2: #4d849c;
    --cor--9--acl: #0c8c8c; 
    --cor--10--amtcl: #6acacf;
    

}


body {
    margin: 0; /* Remove a margem padrão do body para a barra ocupar a largura total */
    font-family: Arial, sans-serif;
}

.top-bar {
    background-color: var(--cor--2--preto); /* Cor da barra (Exemplo: um tom de laranja/vermelho) */
    color: var(--cor--1--branco); /* Cor do texto dentro da barra */
    padding: 10px 0; /* Espaçamento interno superior/inferior e zero nas laterais */
    text-align: center; /* Alinha o texto ao centro */
    width: 100%; /* Garante que a barra ocupe 100% da largura */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Sombra sutil para dar profundidade */
}


*{
    margin: 0;
    padding: 0;

}

iframe {
    height: 377px;
    width: 478px;


}
div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;

}


a {
color: #05042e;
color: var(--cor--primaria);

}

li {
    display: flex;
    align-items: center;
    gap: 100px;
    justify-content: center;
    front-size: 30px;
    text-decoration: none;
    

}

.img-banner{
    width: 100%;
    height: 500px;
}